/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane{
	-fx-background-color: transparent;
}

.main-background{
        /*-fx-background-color: linear-gradient(to top right,#4379A8,#7D5EBF 25%,#4B3873 )*/
         
}

.left-menu{
	/*-fx-background-color: #323440;*/
        /*-fx-background-color:  transparent;*/
       /* -fx-background-color: linear-gradient(to top right,#4379A8,#7D5EBF 25%,#4B3873 )*/
       -fx-background-image: url("../images/LeftPane.png");
}

.top-pane{
         -fx-background-image: url("../images/TopPane.png");
}

.red-pane{
	-fx-background-color:  red;
}

.green-pane{
	-fx-background-color:  green;
}


/********************************************************/


.jfx-button {
   	/*-fx-background-color:rgba(250, 250, 250, 0.2);
	-fx-alignment: center;
	-fx-textToBeRendered-fill: whitesmoke;*/
    /*-fx-font-family: "Eras Bold ITC";*/
    /*-fx-font-size: 40 px;*/
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0.2) 100%),
        rgba(250, 250, 250, 0.05),
        rgba(250, 250, 250, 0.1),
        radial-gradient(center 50% 50%, radius 100%, rgba(250, 250, 250, 0.1), rgba(250, 250, 250, 0.3));
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    /*-fx-font-weight: bold;*/
    /*-fx-font-size: 18;*/
}

.jfx-button:hover {
   /*-fx-background-color:rgba(250, 250, 250, 0.5);
    -fx-textToBeRendered-fill: black;*/
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, rgba(250, 250, 250, 0.3) 0%, rgba(250, 250, 250, 0.3) 100%),
        rgba(250, 250, 250, 0.3),
        rgba(250, 250, 250, 0.2),
        radial-gradient(center 50% 50%, radius 100%, rgba(250, 250, 250, 0.1), rgba(250, 250, 250, 0.2));
}

.jfx-button:focused {
    /*-fx-background-color: #5F75DE;
    -fx-effect: innershadow(gaussian, #342851, 14.5, 0, 0, 0);*/
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, rgba(250, 101, 179, 0.3) 0%, rgba(250, 101, 179, 0.3) 100%),
    rgba(250, 101, 179, 0.3),
    rgba(250, 101, 179, 0.2),
        radial-gradient(center 50% 50%, radius 100%, rgba(250, 250, 250, 0.1), rgba(250, 250, 250, 0.2));
    -fx-padding: 10 15 10 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.jfx-button .text {
    -fx-fill: whitesmoke;
    -fx-effect: dropshadow( gaussian , black , 0,0,0,2 );
	-fx-font-family: "Eras Demi ITC";
    -fx-font-size: 18;
}


.jfx-button:hover .text {
    /*-fx-fill: black;*/
    /*-fx-effect: dropshadow( gaussian , black , 0,0,0,2 );*/
    -fx-effect: dropshadow(gaussian, #3c0e26, 0, 0, 0, 2);
    -fx-fill: #FA65B3;
}


.jfx-button:focused .text {
    /*-fx-fill: black;*/
    -fx-effect: dropshadow( gaussian , black , 0,0,0,2 );
    -fx-fill: whitesmoke;
}


.jfx-focused{
/*-fx-background-color: #5F75DE;
    -fx-effect: innershadow(gaussian, #342851, 14.5, 0, 0, 0);*/
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, rgba(250, 250, 250, 0.3) 0%, rgba(250, 250, 250, 0.3) 100%),
        rgba(250, 250, 250, 0.3),
        rgba(250, 250, 250, 0.2),
        radial-gradient(center 50% 50%, radius 100%, rgba(250, 250, 250, 0.1), rgba(250, 250, 250, 0.2));
    -fx-padding: 10 15 10 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.jfx-focused .text{
    /*-fx-fill: linear-gradient(to top right,#4379A8,#7D5EBF 25%,#4B3873 ) ;*/
    -fx-effect: dropshadow(gaussian, #3c0e26, 0, 0, 0, 2);
    -fx-fill: #FA65B3;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/*****************************************************************/





